https://www.w3resource.com/python-exercises/pandas/filter/index.php

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world_alcohol.csv')

In [3]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. 
Also extract the column names from the dataset.

In [5]:
df.shape

(100, 5)

In [8]:
df.shape[0]

100

In [9]:
df.shape[1]

5

In [7]:
df.columns

Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns 
from World alcohol consumption dataset.

In [14]:
df.loc[[0, 1], ['Year', 'WHO region']]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

In [15]:
df.iloc[:2]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

In [16]:
df.iloc[:, :2]

    Year       WHO region
0   1986  Western Pacific
1   1986         Americas
2   1985           Africa
3   1986         Americas
4   1987         Americas
..   ...              ...
95  1984           Africa
96  1985           Europe
97  1984  South-East Asia
98  1984           Africa
99  1985  South-East Asia

[100 rows x 2 columns]

In [17]:
df[['Year', 'Country']]

    Year                                Country
0   1986                               Viet Nam
1   1986                                Uruguay
2   1985                           Cte d'Ivoire
3   1986                               Colombia
4   1987                  Saint Kitts and Nevis
..   ...                                    ...
95  1984                                  Niger
96  1985                             Luxembourg
97  1984                              Indonesia
98  1984                      Equatorial Guinea
99  1985  Democratic People's Republic of Korea

[100 rows x 2 columns]

3. Write a Pandas program to select random number of rows, fraction of random rows from World alc. consumpt. dataset.

In [19]:
df.sample(3)

    Year WHO region     Country Beverage Types  Display Value
70  1986     Africa  Madagascar        Spirits           1.02
79  1989     Europe     Finland          Other           2.09
22  1984     Europe     Romania        Spirits           2.67

In [26]:
df.sample(frac=0.05)

    Year       WHO region            Country Beverage Types  Display Value
41  1986           Europe     Czech Republic           Beer           6.82
98  1984           Africa  Equatorial Guinea           Wine           0.00
14  1985  Western Pacific           Viet Nam        Spirits           0.05
50  1985           Europe        Switzerland          Other           0.30
57  1989           Europe            Croatia           Wine           5.10

4. Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [28]:
df.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

In [30]:
df.dropna()

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [32]:
df.shape

(100, 5)

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [33]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [34]:
df.drop_duplicates('WHO region')

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

In [35]:
df.shape

(100, 5)

6. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [40]:
alcohol_consumption = df.groupby('Year')['Display Value'].sum()
alcohol_consumption

Year
1984    19.17
1985    20.39
1986    29.03
1987    13.99
1989    22.21
Name: Display Value, dtype: float64

In [46]:
df[df['Year']== 1985].head()  #    alternative solution

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
24,1985,Africa,Comoros,Other,NaN

7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the dataset.

In [52]:
df[df['Year']== 1987].head()

    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
15  1987     Africa          Guinea-Bissau           Wine           0.07

In [53]:
df[df['Year']== 1989].head()

    Year WHO region     Country Beverage Types  Display Value
11  1989   Americas   Guatemala           Beer           0.62
17  1989     Africa  Seychelles           Beer           2.23
21  1989   Americas  Costa Rica        Spirits           4.51
32  1989     Africa   Mauritius           Beer           1.60
45  1989     Africa    Zimbabwe           Beer           0.19

In [54]:
df[(df['Year']== 1987) | (df['Year'] == 1989)].head()

    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
11  1989   Americas              Guatemala           Beer           0.62

8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the dataset.

In [60]:
df[(df['WHO region'] == 'Americas') & (df['Year'] == 1985)]

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

9. Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the dataset.

In [63]:
df[(df['Year'] == 1986) & (df['WHO region'] == 'Western Pacific') & (df['Country'] == 'Viet Nam')]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

10. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the dataset.

In [64]:
df[((df['Year'] == 1986) | (df['Year'] == 1989)) & (df['WHO region'] == 'Americas')]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
47,1986,Americas,Mexico,Other,0.04
55,1989,Americas,Suriname,Wine,0.04
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83

11. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [5]:
df[((df['Year'] == 1986) | (df['Year'] == 1989)) & ((df['WHO region'] == 'Americas') | (df['WHO region'] == 'Europe'))]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
29,1986,Europe,Italy,Other,NaN
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
41,1986,Europe,Czech Republic,Beer,6.82
47,1986,Americas,Mexico,Other,0.04
49,1986,Europe,Malta,Wine,1.49
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
83,1986,Europe,Ukraine,Other,NaN
86,1986,Americas,Bahamas,Wine,1.83
91,1989,Europe,Bulgaria,Beer,4.43

12. Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [9]:
df[((df['Year'] == 1986) | (df['Year'] == 1989)) & ((df['WHO region'] == 'Americas') | (df['WHO region'] == 'Europe'))][['WHO region', 'Country', 'Beverage Types']]

   WHO region                           Country Beverage Types
1    Americas                           Uruguay          Other
3    Americas                          Colombia           Beer
8    Americas               Antigua and Barbuda        Spirits
11   Americas                         Guatemala           Beer
21   Americas                        Costa Rica        Spirits
29     Europe                             Italy          Other
34     Europe                Russian Federation           Wine
37     Europe                            Sweden           Beer
41     Europe                    Czech Republic           Beer
47   Americas                            Mexico          Other
49     Europe                             Malta           Wine
55   Americas                          Suriname           Wine
57     Europe                           Croatia           Wine
64   Americas  Bolivia (Plurinational State of)           Beer
74   Americas  Bolivia (Plurinational State of)        Spirits
78   Americas                           Jamaica          Other
79     Europe                           Finland          Other
83     Europe                           Ukraine          Other
86   Americas                           Bahamas           Wine
91     Europe                          Bulgaria           Beer

13. Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [10]:
df[(df['Display Value'] >= 5) & (df['Beverage Types'] == 'Beer')]

    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

14. Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [11]:
df[(df['Display Value'] >= 4) & (df['Beverage Types'].isin(['Beer', 'Wine', 'Spirits']))]

    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

15. Write a Pandas program to filter the specified columns and records by range from world alcohol consumption dataset.

In [13]:
df.loc[:4]

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

16. Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [14]:
df[df['WHO region'].str.contains('Ea')]

,Year,WHO region,Country,Beverage Types,Display Value
13,1984,Eastern Mediterranean,Afghanistan,Other,0.00
20,1986,South-East Asia,Myanmar,Wine,0.00
25,1984,Eastern Mediterranean,Tunisia,Other,0.00
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
38,1987,Eastern Mediterranean,Qatar,Other,0.00
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
53,1984,Eastern Mediterranean,Kuwait,Beer,0.00
58,1984,Eastern Mediterranean,Somalia,Spirits,0.00
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
63,1985,Eastern Mediterranean,Libya,Other,0.00
65,1989,Eastern Mediterranean,Somalia,Beer,0.00
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
73,1986,Eastern Mediterranean,Pakistan,Other,0.01
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
84,1986,South-East Asia,Sri Lanka,Other,0.00
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
97,1984,South-East Asia,Indonesia,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

17. Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [15]:
df[df['WHO region'].isin(['Africa', 'Eastern Mediterranean', 'Europe'])]

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other            NaN
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]

18. Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset.

In [16]:
df[~df['Country'].isin(['Angola', 'Niger', 'Ukraine'])]

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
93,1987,Africa,Madagascar,Other,NaN
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

19. Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset.

In [17]:
df[(df['Display Value'] > 0.50) & (df['Display Value'] < 2.50)]

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
18,1984,Europe,Norway,Spirits,1.62
19,1984,Africa,Kenya,Beer,1.08
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
32,1989,Africa,Mauritius,Beer,1.60
34,1986,Europe,Russian Federation,Wine,0.80
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
40,1987,Europe,Austria,Spirits,1.90
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
48,1987,Americas,Nicaragua,Beer,0.70
49,1986,Europe,Malta,Wine,1.49
54,1984,Americas,El Salvador,Spirits,1.81
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
70,1986,Africa,Madagascar,Spirits,1.02
71,1985,Africa,Mali,Other,0.57
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
79,1989,Europe,Finland,Other,2.09
80,1985,Africa,Malawi,Other,0.84
82,1987,Europe,Ireland,Spirits,2.25
86,1986,Americas,Bahamas,Wine,1.83
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70

20. Write a Pandas program to find average consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [20]:
df[(df['Display Value'] > 2) & (df['Beverage Types'] == 'Wine')]

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38

21. Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [24]:
df.iloc[0:101:10, :5]

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
10,1987,Africa,Botswana,Wine,0.20
20,1986,South-East Asia,Myanmar,Wine,0.00
30,1986,Africa,Sierra Leone,Other,4.48
40,1987,Europe,Austria,Spirits,1.90
50,1985,Europe,Switzerland,Other,0.30
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
70,1986,Africa,Madagascar,Spirits,1.02
80,1985,Africa,Malawi,Other,0.84
90,1989,Africa,Malawi,Wine,0.01

22. Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [25]:
df.iloc[0:10, ]

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
5  1987         Americas              Guatemala          Other           0.00
6  1987           Africa              Mauritius           Wine           0.13
7  1985           Africa                 Angola        Spirits           0.39
8  1986         Americas    Antigua and Barbuda        Spirits           1.55
9  1984           Africa                Nigeria          Other           6.10

In [26]:
df.loc[0:5, ['Year', 'WHO region', 'Country']]

   Year       WHO region                Country
0  1986  Western Pacific               Viet Nam
1  1986         Americas                Uruguay
2  1985           Africa           Cte d'Ivoire
3  1986         Americas               Colombia
4  1987         Americas  Saint Kitts and Nevis
5  1987         Americas              Guatemala

23. Write a Pandas program to rename all and only some of the column names from world alcohol consumption dataset.

In [28]:
df = df.rename(columns={'WHO region': 'Continent', 'Display Value': 'Liters'})
df.head()

   Year        Continent                Country Beverage Types  Liters
0  1986  Western Pacific               Viet Nam           Wine    0.00
1  1986         Americas                Uruguay          Other    0.50
2  1985           Africa           Cte d'Ivoire           Wine    1.62
3  1986         Americas               Colombia           Beer    4.27
4  1987         Americas  Saint Kitts and Nevis           Beer    1.98

24. Write a Pandas program to find which years have all non-zero values and which years have any non-zero values from world alcohol consumption dataset.

In [39]:
pd.isnull(df).sum() != 0

Year              False
Continent         False
Country           False
Beverage Types    False
Liters             True
dtype: bool

In [35]:
df['Liters'].isnull().value_counts()

False    95
True      5
Name: Liters, dtype: int64

In [49]:
df.isnull().sum()  # -   best solution!!!

Year              0
Continent         0
Country           0
Beverage Types    0
Liters            5
dtype: int64

In [40]:
print("\nFind which years have all non-zero values:")
print(df.loc[:,df.all()])
print("\nFind which years have any non-zero values:")
print(df.loc[:,df.any()])

Find which years have all non-zero values:
    Year        Continent                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Find which years have any non-zero values:
    Year        Continent                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Liters
0            Wine    0.00
1           Other    0.50
2            Wine    1.62
3            Beer    4.27
4            Beer    1.98
..            ...     ...
95          Other    0.00
96           Wine    7.38
97           Wine    0.00
98           Wine    0.00
99           Wine    0.00

[100 rows x 5 columns]

25. Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset.

In [50]:
df.loc[:, df.notnull().all()]  #  all columns where all entries are present

,Year,Continent,Country,Beverage Types
0,1986,Western Pacific,Viet Nam,Wine
1,1986,Americas,Uruguay,Other
2,1985,Africa,Cte d'Ivoire,Wine
3,1986,Americas,Colombia,Beer
4,1987,Americas,Saint Kitts and Nevis,Beer
...,...,...,...,...
95,1984,Africa,Niger,Other
96,1985,Europe,Luxembourg,Wine
97,1984,South-East Asia,Indonesia,Wine
98,1984,Africa,Equatorial Guinea,Wine
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine

In [51]:
df.loc[:, df.isnull().any()]   #  rows and columns which have a NaN

    Liters
0     0.00
1     0.50
2     1.62
3     4.27
4     1.98
..     ...
95    0.00
96    7.38
97    0.00
98    0.00
99    0.00

[100 rows x 1 columns]

In [52]:
df.dropna(how='any')

,Year,Continent,Country,Beverage Types,Liters
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

26. Write a Pandas program to filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.

In [56]:
df.loc[:, ['Year', 'Country', 'Liters']]

    Year                                Country  Liters
0   1986                               Viet Nam    0.00
1   1986                                Uruguay    0.50
2   1985                           Cte d'Ivoire    1.62
3   1986                               Colombia    4.27
4   1987                  Saint Kitts and Nevis    1.98
..   ...                                    ...     ...
95  1984                                  Niger    0.00
96  1985                             Luxembourg    7.38
97  1984                              Indonesia    0.00
98  1984                      Equatorial Guinea    0.00
99  1985  Democratic People's Republic of Korea    0.00

[100 rows x 3 columns]

In [57]:
df.loc[:, 'Year'::2]

    Year                                Country  Liters
0   1986                               Viet Nam    0.00
1   1986                                Uruguay    0.50
2   1985                           Cte d'Ivoire    1.62
3   1986                               Colombia    4.27
4   1987                  Saint Kitts and Nevis    1.98
..   ...                                    ...     ...
95  1984                                  Niger    0.00
96  1985                             Luxembourg    7.38
97  1984                              Indonesia    0.00
98  1984                      Equatorial Guinea    0.00
99  1985  Democratic People's Republic of Korea    0.00

[100 rows x 3 columns]

In [58]:
df.iloc[:, ::2]

    Year                                Country  Liters
0   1986                               Viet Nam    0.00
1   1986                                Uruguay    0.50
2   1985                           Cte d'Ivoire    1.62
3   1986                               Colombia    4.27
4   1987                  Saint Kitts and Nevis    1.98
..   ...                                    ...     ...
95  1984                                  Niger    0.00
96  1985                             Luxembourg    7.38
97  1984                              Indonesia    0.00
98  1984                      Equatorial Guinea    0.00
99  1985  Democratic People's Republic of Korea    0.00

[100 rows x 3 columns]

27. Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset.

In [59]:
df.iloc[1::5]

,Year,Continent,Country,Beverage Types,Liters
1,1986,Americas,Uruguay,Other,0.50
6,1987,Africa,Mauritius,Wine,0.13
11,1989,Americas,Guatemala,Beer,0.62
16,1984,Americas,Costa Rica,Wine,0.06
21,1989,Americas,Costa Rica,Spirits,4.51
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
41,1986,Europe,Czech Republic,Beer,6.82
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
51,1987,Europe,Finland,Beer,3.88
56,1987,Western Pacific,Viet Nam,Wine,0.00
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
71,1985,Africa,Mali,Other,0.57
76,1985,Africa,Comoros,Beer,0.02
81,1985,Europe,Netherlands,Wine,2.54
86,1986,Americas,Bahamas,Wine,1.83
91,1989,Europe,Bulgaria,Beer,4.43
96,1985,Europe,Luxembourg,Wine,7.38