https://www.w3resource.com/python-exercises/pandas/filter/index.php

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('world_alcohol.csv')

In [4]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. 
Also extract the column names from the dataset.

In [5]:
df.shape

(100, 5)

In [8]:
df.shape[0]

100

In [9]:
df.shape[1]

5

In [7]:
df.columns

Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns 
from World alcohol consumption dataset.

In [14]:
df.loc[[0, 1], ['Year', 'WHO region']]

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

In [15]:
df.iloc[:2]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

In [16]:
df.iloc[:, :2]

    Year       WHO region
0   1986  Western Pacific
1   1986         Americas
2   1985           Africa
3   1986         Americas
4   1987         Americas
..   ...              ...
95  1984           Africa
96  1985           Europe
97  1984  South-East Asia
98  1984           Africa
99  1985  South-East Asia

[100 rows x 2 columns]

In [17]:
df[['Year', 'Country']]

    Year                                Country
0   1986                               Viet Nam
1   1986                                Uruguay
2   1985                           Cte d'Ivoire
3   1986                               Colombia
4   1987                  Saint Kitts and Nevis
..   ...                                    ...
95  1984                                  Niger
96  1985                             Luxembourg
97  1984                              Indonesia
98  1984                      Equatorial Guinea
99  1985  Democratic People's Republic of Korea

[100 rows x 2 columns]

3. Write a Pandas program to select random number of rows, fraction of random rows from World alc. consumpt. dataset.

In [19]:
df.sample(3)

    Year WHO region     Country Beverage Types  Display Value
70  1986     Africa  Madagascar        Spirits           1.02
79  1989     Europe     Finland          Other           2.09
22  1984     Europe     Romania        Spirits           2.67

In [26]:
df.sample(frac=0.05)

    Year       WHO region            Country Beverage Types  Display Value
41  1986           Europe     Czech Republic           Beer           6.82
98  1984           Africa  Equatorial Guinea           Wine           0.00
14  1985  Western Pacific           Viet Nam        Spirits           0.05
50  1985           Europe        Switzerland          Other           0.30
57  1989           Europe            Croatia           Wine           5.10

4. Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [28]:
df.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

In [30]:
df.dropna()

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [32]:
df.shape

(100, 5)

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [33]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [34]:
df.drop_duplicates('WHO region')

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

In [35]:
df.shape

(100, 5)

6. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [40]:
alcohol_consumption = df.groupby('Year')['Display Value'].sum()
alcohol_consumption

Year
1984    19.17
1985    20.39
1986    29.03
1987    13.99
1989    22.21
Name: Display Value, dtype: float64

In [46]:
df[df['Year']== 1985].head()  #    alternative solution

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
24,1985,Africa,Comoros,Other,NaN

7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the dataset.

In [52]:
df[df['Year']== 1987].head()

    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
15  1987     Africa          Guinea-Bissau           Wine           0.07

In [53]:
df[df['Year']== 1989].head()

    Year WHO region     Country Beverage Types  Display Value
11  1989   Americas   Guatemala           Beer           0.62
17  1989     Africa  Seychelles           Beer           2.23
21  1989   Americas  Costa Rica        Spirits           4.51
32  1989     Africa   Mauritius           Beer           1.60
45  1989     Africa    Zimbabwe           Beer           0.19

In [54]:
df[(df['Year']== 1987) | (df['Year'] == 1989)].head()

    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
11  1989   Americas              Guatemala           Beer           0.62

8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the dataset.

In [60]:
df[(df['WHO region'] == 'Americas') & (df['Year'] == 1985)]

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

9. Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the dataset.

In [63]:
df[(df['Year'] == 1986) & (df['WHO region'] == 'Western Pacific') & (df['Country'] == 'Viet Nam')]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

10. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the dataset.

In [64]:
df[((df['Year'] == 1986) | (df['Year'] == 1989)) & (df['WHO region'] == 'Americas')]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
47,1986,Americas,Mexico,Other,0.04
55,1989,Americas,Suriname,Wine,0.04
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83